<html ng-app="PickMovieModule">
    <head>
        <title>Select Movie</title>
    </head>
    <body ng-controller="PickMovieController">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="src/app/controllers/PickMovieController.js"></script>

        <h1>Choose from favorites.</h1>
        <select ng-model="SelectMovies" ng-init="getExistingMovies()">
            <option ng-repeat="s in exmovies" value="{{s.Name}}">{{s.Name}}</option>
        </select>
        <h1>OR</h1>
        <h1>Select a new movie.</h1>
        <input type="text" ng-model="SearchMovie">
        <button ng-click="SearchMovies()" >Search</button>
        <table border=1>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="n in newmovies">
                <th>{{n.title}}</th>
                <th>{{n.release_date}}</th>
                <th>{{n.overview}}</th>
            </tr>
        
        </table>
    </body>
</html>