<div class="col-lg-12"> 
    <h3>About Us</h3></br>
    <p>MovieYager is an application developed by a set of skilled developers of Team Voyager which supports you to choose your favourite movies easily to have a wonderful movie night experience with your loved ones.</p>
    <p>Our aim is to provide you with best user experience while using our awesome application and if you have any concerns, feel free to contact us through below contact details.</p>
    <p><strong class="text-primary">Contact Us:</strong> amazingvoyagers@gmail.com	</p>
    <p><img ng-src="http://image.tmdb.org/t/p/w185//{{s.poster_url}}" class="img-rounded"></p>

    <button class="btn btn-l btn-warning" ng-click="Cancel()"><i class="fa fa-chevron-left" style="color:black"></i>   Back</button><br><br>
</div>
<div flex-xs="" flex-gt-xs="50" layout="column">
</div>
  