<div class="col-lg-12"> 
    <h3>About Us</h3></br>
    <p>VoyageRoo is a voyagerific application developed by a set of voyagerously skilled developers from team <strong>VOYAGER</strong>. VoyageRoo lets you pick your favourite movies, and/or vote for current favorites, with the goal of facilitating a voyagerlicious movie night experience with your loved ones.</p>
    <p>The app was built using AngularJS, Angular-Material, Bootstrap, Bower, Gulp, Firebase, with a MySQL database hosted on AWS communicating using Spring REST endpoints. VoyageRoo uses the TMDb API but is not endorsed or certified by TMDb.</p>
    <p>If you have any concerns, feel free to contact us at:</p>
    <a href="mailto:amazingvoyagers@gmail.com?subject=VoyageRoo is Voyagerific">amazingvoyagers@gmail.com</a>
    <p>P.S. If you want to report a bug please remember this was just a fun way for us to learn AngularJS from the ground up. Let's call it a feature and move on shall we? ;) </p>
    <p><img ng-src="http://image.tmdb.org/t/p/w185//{{s.poster_url}}" class="img-rounded"></p>

    <button class="btn btn-l btn-warning" ng-click="Cancel()"><i class="fa fa-chevron-left" style="color:black"></i>   Back</button><br><br>
</div>
<div flex-xs="" flex-gt-xs="50" layout="column">
</div>
  