<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title" ng-init="getUsers()">28</div>
				<div class="comment" >Total Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title" ng-init="getSubmitted()">{{SubmitCount.length}}</div>
				<div class="comment">Submitted users</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-film"></i>
				</div>
				<div class="title" ng-init="getNoOfMovies()">{{MovieCount.length}}</div>
				<div class="comment">Movies</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa fa-heart fa-spin" title="Favorites">
					<div class="col-md-6 col-md-offset-5">
					<button class="btn btn-warning btn-sm" ng-click="ShowDetails()" ng-disabled="HideDetails"><i class="fa fa-info-circle" style="color:black" aria-hidden="true"></i>Details</button>	
					</div>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
						<table class="table" ng-init="getMovies()">
							<thead>
								<tr>
									<th class="text-left">Title</th>
									<th class="text-left">Image</th>
									<th>Votes</th>
								</tr>
							  </thead>
							<tbody ng-repeat="s in MoviesNew track by $index" >
								<tr ng-init= "Progress($index)" ng-click="setClickedRowHome($index)" ng-class="{'info':$index==selectedRowHome}"><td>{{s[0]}}</td><td><img class="img-fluid img-thumbnail" width="30px" height="30px" ng-src="http://image.tmdb.org/t/p/w185//{{s[3]}}"></td><td width="50%">
									<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: {{s[5]*7}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{s[5]}}</div>
								  </div></td></tr>
							  </tbody> 
						</table>
					</div>
				</div>
			</rd-widget-body>
		</rd-widget>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Users">
				<input type="text" placeholder="Search" class="form-control input-sm" ng-model="formData.UserSearch" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table" ng-init="getUserDetails()">
						<thead>
							<tr><th class="text-left">First Name</th><th>Last Name</th><th>Photo</th></tr>
						</thead>
						<tbody ng-repeat="s in UserDetails | filter:formData.UserSearch track by $index" >
								<tr><td>{{s.first_name}}</td><td>{{s.last_name}}</td><td><img class="img-circle" width="30px" height="30px" ng-src="{{s.image_url}}"></td></tr>
							  </tbody> 
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<!--<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>-->
