<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title" ng-init="getUsers()">{{UserCount.length}}</div>
				<div class="comment" >Total Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title" ng-init="getNotSubmitted()">{{notSubmitted}}</div>
				<div class="comment">Not Submitted</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-film"></i>
				</div>
				<div class="title" ng-init="getNoOfMovies()">{{MovieCount.length}}</div>
				<div class="comment">Movies</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<!--<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">62</div>
				<div class="comment">Tickets</div>
			</rd-widget-body>
		</rd-widget>
	</div>-->
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="So Far Favorites">
				<a href="#">Manage</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
						<table class="table" ng-init="getMovies()">
							<thead>
								<tr>
									<th class="text-center">Title</th>
									<th class="text-center">Poster</th>
								</tr>
							  </thead>
							<tbody ng-repeat="s in MoviesNew track by $index" >
								<tr ng-click="setClickedRowFav($index)" ng-class="{'success':$index==selectedRowFav}"><td>{{s.movie_name}}</td><td><img ng-src="{{s.poster_url}}"></td></tr>
							  </tbody> 
							
						</table>
					</div>
				</div>
			</rd-widget-body>
		</rd-widget>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Users">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table" ng-init="getUserDetails()">
						<thead>
							<tr><th class="text-center">First Name</th><th>Last Name</th><th>Photo</th></tr>
						</thead>
						<tbody ng-repeat="s in UserDetails track by $index" >
								<tr><td>{{s.first_name}}</td><td>{{s.last_name}}</td><td><img ng-src="{{s.image_url}}"></td></tr>
							  </tbody> 
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<!--<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>-->
<div  class="col-xs-12">
		<button class="btn btn-l btn-primary btn-lg" ng-click="ShowDetails()" >ShowDetails</button>	
	</div>
