<div class="row">
    <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts2.length && ShowAlert">
        <div class="col-xs-12">
          <uib-alert data-ng-repeat="alert in alerts2" type="{{alert.type}}" close="closeAlert2($index)">{{alert.msg}}</uib-alert>
        </div>
      </div>
      <div class="col-xs-12 col1">
          <button type="button" class="btn btn-l btn-warning " class="text-center" ng-click="ButtonSwitch()">{{variablechange}}</button>
      </div>
    <div class="col-lg-12" ng-hide="variable">
        <rd-widget>
          <rd-widget-header icon="fa-star fa-pulse" title="Choose from favorites">
          </rd-widget-header>
          <rd-widget-body classes="large no-padding">
            <div class="table-responsive">
              <table class="table" ng-init="getMovies()">
                  <thead>
                      <tr><th>Title</th><th>Description</th><th>Release Date</th><th>Rating</th><th>Poster</th></tr>
                    </thead>
                    
                <tbody ng-repeat="s in MoviesNew track by $index" >
                  <tr ng-click="setClickedRowFav($index)" ng-class="{'info':$index==selectedRowFav}"><td>{{s.title}}</td><td>{{s.description}}</td><td>{{s.year}}</td><td><span tooltip="Rating" class="text-success">{{s.rating}}</span></td><td><img class="img-circle" width="30px" height="30px" ng-src="http://image.tmdb.org/t/p/w185//{{s.poster_url}}"></td</tr>
                </tbody>
              </table>
            </div>
          </rd-widget-body>
        </rd-widget>
      </div>
  <div class="col-lg-12" ng-show="variable">
		<rd-widget>
			<rd-widget-header icon="fa-film" title="Search Movies">
        <input type="text" placeholder="Search" class="form-control input-sm" ng-model="formData.SearchMovies" ng-keypress="getExistingMovies()"/>
			</rd-widget-header>
			<rd-widget-body classes="large no-padding">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr><th>Title</th><th>Description</th><th>Release Date</th><th>Rating</th><th>Poster</th></tr>
						</thead>
						<tbody ng-repeat="s in ExistMovies track by $index">
                <tr ng-click="setClickedRow($index )" ng-class="{'info' :$index==selectedRow}"><td>{{s.title}}</td><td>{{s.overview}}</td><td>{{s.release_date}}</td><td><span tooltip="Rating" class="text-success">{{s.vote_average}}</span></td><td><img class="img-circle" width="30px" height="30px" ng-src="http://image.tmdb.org/t/p/w185//{{s.poster_path}}"></td></tr>
						</tbody>
          </table>
        		</div>
			</rd-widget-body>
		<rd-widget>
  </div>
  <div  class="col-xs-12">
      <button class="btn btn-l btn-primary btn-lg" ng-click="Save()" ng-disabled="HideSave">Save</button>
      <button class="btn btn-l btn-default btn-lg" ng-click="Cancel()">Cancel</button>
  </div>
</div>
